<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Natuzzi Marketing & Communication Platform</title>
</head>
<body>
<table align="center">
  <tr>
    <td>
<div style="width:600px; margin-left:auto;margin-right:auto; font-family:'Trebuchet MS', sans-serif;">
<!--EMAIL HEADER-->
<table width="100%">
  <tr>
    <td align="center">
      <div style="text-align: center; border-bottom: 10px solid #f5f5f5;padding:10px;">
      <img src="http://mcpnatuzzi.eratio.it/assets/img/natuzzi_plain.svg" alt="Natuzzi" />
      </div>
    </td>
  </tr>
</table>
<!--EMAIL HEADER ENDS-->

<!--EMAIL BODY-->
  <table width="100%">
    <tr>
      <td>
        <div style="padding:20px;">
        Please Print here the email content
        </div>
      </td>
    </tr>
  </table>

<!-- EMAIL BODY ENDS-->

<!--EMAIL FOOTER -->
<table width="100%">
  <tr>
    <td>
      <div style=" border-top: 1px solid #663a2a;padding:10px; text-align: center; font-size:10px;color:#ccc;">
        © 2018 Natuzzi. All rights reserved.
      </div>
    </td>
  </tr>
</table>
<!-- EMAIL FOOTER ENDS -->
</div>
    </td>
  </tr>
</table>
</body>
</html>
