<div class="d-flex align-items-center full-h">
  <div>
    <div class="p-3">
      <h4 class="text-dark">Remind me</h4>
      <h2 class="text-dark">
        USERNAME</h2>
    </div>
    <!--SHOW THIS MESSAGE ONLY AFTER THE USERNAME HAS BEEN SUCCESFULLY SENT TO THE USER

    <div>
      An email with your user name has been sent to you, please check your email.
    </div>

    -->
    <form class="material_form">
      <div class="form-row">
        <div class="form-group col-md-12 p-3">
          <label for="ruinputEmail" class="d-none">EMAIL</label>
          <input type="email" class="form-control" id="ruinputEmail" placeholder="EMAIL">
          <div class="invalid-feedback">
            Email is required to recover your user name
          </div>
          <div class="invalid-feedback">
            This email is not registered
          </div>
        </div>
      </div>
      <div class="text-right p-3">
        <button type="button" class="btn btn-outline-dark btn-lg">REMIND ME THE USERNAME</button>
      </div>
    </form>
  </div>
</div>
