<div class="container-fluid bg-image">
  <div class="row d-flex align-items-center">
    <div class="col-md-6 col-lg-4 text-white p-0 pt-0 pl-5 pr-5 p-md-5 "><app-log-in></app-log-in></div>
    <div class="col-md-6 col-lg-8 text-white m-0 p-0 mt-md-5 pt-md-4 text-center text-md-left">
      <!--<h4 class="quick_sand_family pt-5 d-none d-md-block">Welcome to</h4>-->
      <!--<h1 class="d-none d-md-block" style="text-transform: uppercase;">Marketing and Communication<br>-->
        <!--Platform</h1>-->
      <!--<div class="d-md-none mb-4">OR</div>-->
      <!--<button class="btn btn-outline-light btn-lg" (click)="registrationPanel.open()">CREATE AN ACCOUNT</button>-->
    </div>
  </div>
</div>

<!--<app-slide-panel #registrationPanel>-->
  <!--<app-register></app-register>-->
<!--</app-slide-panel>-->

